/* variables template */

$font-baloo: 'Baloo Thambi 2',
cursive;
$font-raleway: 'Baloo Thambi 2',
cursive;
$font-rubik: 'Baloo Thambi 2',
cursive;
$color-primary: #003859;
$color-second: #00A5C4;
$color-yellow: #FFD249;